*{
  margin: 0px;
  padding: 0px;
}
.links{
  list-style-decoration: none;
  font-weight: 900;
}
.header{
  width: 100vw;
  height: auto; 
}
.footer{
  width: 100vw;
  height: auto;
}
.main{
  width: 100vw;
  height: auto;
}